<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>金慧通</title>
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/global.css" rel="stylesheet">
</head>
<body>
	<div class="row nav-content">
		<div class="nav" >
			<ul >
				<li data-href="./index.html">首&nbsp;&nbsp;页<br/> <label class="sub-label"> HOME</label></li>
				<li data-href="#">关于我们<br/><label class="sub-label"> ABOUT US</label></li>
				<li data-href="./succeed.html">经典案例<br/><label class="sub-label"> CLASSIC CASE</label></li>
				<li data-href="./contact_us.html">联系我们 <br/><label class="sub-label">CONTACT US</label></li>
			</ul>
		</div>
	</div>
	
	<div class="container" >
		<div class="row">
			<img class="logo" src="../images/logo.png" />
		</div>
		<div class="row contact-panel" >
			<img  src="../images/about_us.jpg" />
		</div>
		<div class="row about_us_hero">
			<div class="col-xs-12" >
				<img src="../images/about_us_hero.jpg" />
			</div>
		</div>
		<div class="row">
			<img  src="../images/join_us.jpg" />
		</div>
		<div class="row">
			<div class="col-xs-12 heroes">
				<img src="../images/heroes.jpg" />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 footer">
				<img src="../images/footer-info.png" />
			</div>
		</div>
	</div>
	<script src="../js/jquery-1.11.3.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/app.js"></script>
</body>
</html>